.count {
  width: 107px;
  height: 46px;
  border: 0.5px solid #000000;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 36px;
  }
}
.item {
  flex-basis: 33%;
  font-size: 16px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
}
