.empty {
  padding: 100px 0;
  font-size: 34px;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;

  @media (max-width: 768px) {
    padding: 60px 0;
    font-size: 28px;
  }

  @media (max-width: 540px) {
    padding: 40px 0;
    font-size: 24px;
  }
}
