@font-face {
  font-family: Inter;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/inter-v12-latin_cyrillic-regular.woff2")
      format("woff2"),
    url("assets/fonts/inter-v12-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-display: swap;
  src: url("assets/fonts/inter-v12-latin_cyrillic-600.woff2") format("woff2"),
    url("assets/fonts/inter-v12-latin_cyrillic-600.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/inter-v12-latin_cyrillic-700.woff2") format("woff2"),
    url("assets/fonts/inter-v12-latin_cyrillic-700.woff") format("woff");
}
